body {
    height          : 100vh;
    background-image: linear-gradient(to bottom, rgb(177, 148, 245), rgb(237, 234, 245));
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}



div{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 20px solid rebeccapurple;
    margin: 0 20px;
    position: relative;
}

.loading1{
    border-color: rebeccapurple rgb(226, 224, 224) rgb(226, 224, 224) rgb(226, 224, 224);
    animation: loading 2s linear infinite;
}

.loading2{
    border-color: rebeccapurple rgb(226, 224, 224) rebeccapurple rgb(226, 224, 224);
    animation: loading 2s linear infinite;
}

.loading3{
    border-color: rebeccapurple rgb(243, 63, 63) rgb(97, 48, 48) rgb(226, 224, 224);
    animation: loading 2s linear infinite;
}
.loading4{
    border-color: rebeccapurple  rgb(243, 63, 63) rgb(97, 48, 48) rgb(24, 141, 187);
    animation: loading 2s linear infinite;
}

@keyframes loading {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}